@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #0a2ff1;
}

.contenedor{
    width: 750px;
    margin: 0 auto;
}

.social{
    background-color: #3ffff3;
}

.p-bold{
    font-weight: bold;
    font-size: 78.66px;
}

.p-medium{
    font-weight: 500;
    font-size: 30.66px;
}

.img-celu {
    height: 500px;
}

.imgbck{
    background-image: url(img/fondo.JPG);
    width: 338px;
    height: 500px;
    background-position: 0 -70px;
}
